.userMachine{
    color: rgb(71, 216, 71);
    font-family: 'IBM Plex Mono', monospace;
}

.terminalText{
    color: white;
    font-family: 'IBM Plex Mono', monospace;
}

.terminalLocation{
    color: rgb(58, 58, 200);
    font-family: 'IBM Plex Mono', monospace;
}

.transBack{
    display: inline;
    background-color: rgb(175, 175, 175);
    border-radius: 25%;
    padding: 2px;
    margin-top: 2px;
}

.skills{
    display: flex;
    justify-content: space-around;
}