.terminalMenu{
    width: 50vw;
    height: 4.5vh;
    background-color: rgb(212, 212, 212);
    margin: 0;
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.terminalScreen{
    width: 50vw;
    background-color: black;
    margin: 0;
    border: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}